body {
	background-color: #D8E0CE;
}

div {
    position:relative;   
}

#main {   
    width: 99%;
}

#overlay {
	position: absolute;
	width: 33%;
	top: 0;
	left: 0; 
}

#catAppearButtons {
	float: left;
	padding: 8px;
}

#catControlButtons {
	padding: 8px;
}

#cameraButton {
	padding: 8px;
}